 {% extends "base.jinja"%}
  
  {% block content %}
  <h1> Fixtures</h1>
    <form action="/matches" method="post">
    <label for="add_match" >Team Name </label>
    {# you well need two selects with teams in option tags, will need to do loops #}
    <label for="home_team">Home team</label>
    <select id="home_team" name="home_team_id">
      <div class="container">
      {% for team in teams %}
        <option value="{{ team.id }}">{{ team.name }}</option>
      {% endfor %}
    </select>
      <label for="away_team">Away team</label>
      <select id="away_team" name="away_team_id">
      {% for team in teams %}
        <option value="{{ team.id }}">{{ team.name }}</option>
      {% endfor %}
    </div>   
    </select>


    <input type="submit" value="Add Match">
    </form>

  {% for match in matches %}
    
    <p>
    <b> {{ match.home_team.name }}</b> VS <b> {{ match.away_team.name }} </b> 
    </p>
    {% endfor %}
    

  {% endblock %} 
