<!DOCTYPE html>
<html lang="en">
<title>{{ title }} Teams </title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <h1> Teams</h1>
    <form action="/teams" method="post">
    <label for="team_name" >Team Name:</label>
    <input type="text" name="team_name" id="team_name">
    <input type="submit" value="Add Team">
    </form>
  {% for team in teams %}
    
    <p>
    <b> <a href="/teams/{{team.id}}">{{team.name }}</b> 
    <form action='/teams/{{ team.id }}/delete' method='post'>
    <input type='submit' name='delete_team' value='delete'>
    </form>
    <form action='/teams/{{ team.id }}/edit' method='get'>
    <input type='submit' value='edit'>
    </form>
    
    </p>
    {% endfor %}
    <a href="/">go back to home </a>
</body>
</html>

