
{% extends "base.jinja"%}


  {% block content %}
  
  <h1> Teams</h1>
    <form action="/teams" method="post">
    <label for="team_name" >Team Name:</label>
    <input type="text" name="team_name" id="team_name">
    <input type="submit" value="Add Team">
    </form>
  {% for team in teams %}
    
    <p>
    <b> <a href="/teams/{{team.id}}">{{team.name }}</b> 
    <form action='/teams/{{ team.id }}/delete' method='post'>
    <input type='submit' name='delete_team' value='delete'>
    </form>
    <form action='/teams/{{ team.id }}/edit' method='get'>
    <input type='submit' value='edit'>
    </form>
    
    </p>
    {% endfor %}
    

  {% endblock %}

