<!DOCTYPE html>
<html lang="en">
<title>{{ title }} Team Result </title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h2>Fixture Matches</h2>
  {% for match in fixture_matches %}
    
    <p>
    <b>{{match.home_team.name }}</b> VS <b>{{match.away_team.name }}</b>
    
    
    </p>
    {% endfor %}

    {# <h2>Played Matches</h2>
    {% for match in match_played %}
    
    <p>
    <b> {{ match.home_team.name }}</b> <b> {{ match.home_team_score }}</b> : <b> {{ match.away_team_score }}</b> <b> {{ match.away_team.name }} </b>
    
    
    </p>
    {% endfor %} #}

    <a href="/">go back to home </a>
</body>
