{% extends 'base.jinja'%}


{% block content %}
<body>
  <h2>Fixture Matches</h2>
  {% for match in fixture_matches %}
    
    <p>
    <b>{{match.home_team.name }}</b> VS <b>{{match.away_team.name }}</b>
    
    
    </p>
    {% endfor %}

    <h2>Played Matches</h2>
    {% for match_result in match_results %}
    
    <p>
    <b> {{ match_result.match.home_team.name }}</b> <b> {{ match_result.home_team_score }}</b> : <b> {{ match_result.away_team_score }}</b> <b> {{ match_result.match.away_team.name}} </b>
    
    
    </p>
    {% endfor %}

    <a href="/">go back to home </a>
</body>
{% endblock %}
