{% extends 'base.jinja'%}


{% block content %}
<h1>Welcome to Home of Football</h1>
<img class="home-image" src="static/images/background image.png" alt="A picture premier league">


{% endblock %}

